*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
   
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
   
    display: flex;
}
.left{
    position: relative;
    width: 40%;
    height: 100%;
    
}
.l-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
.l-nav-r{
    display: flex;
    align-items: center;
}
.l-nav-r a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
.l-nav-r i{
    color: royalblue;
}
 .text-centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-centre h1{
    font-size: 90px;
    font-weight: 900;

}
.text-centre p{
    opacity:.6 ;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-centre a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.right{
    width: 60%;
    height: 100%;
    background-color: white;
}
.rtop{
    width: 100%;
    height: 50%;
    background-color: rebeccapurple;
    display: flex;

}
.rbottom{
    width: 100%;
    height: 50%;
  background-image: url(https://images.unsplash.com/photo-1619241638225-14d56e47ae64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80);
  background-size: cover;
  background-position: center;
}
.rtop-left{
   width: 55%;
   height: 100%;
   background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=765&q=80);
   background-size: cover;
   background-position: center;

}
.rtop-right{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1586788224331-947f68671cf1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-position: center;
}

@media  (max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main .left{
        width: 100%;
    }
    #main .right{
        width: 100%;
    }
}